In [1]:
import pandas as pd
import numpy as np
import pyreadr

**Load dataset**

In [2]:
url = "./data/q1/marketCap.RData"

result = pyreadr.read_r(url)
df = result['.x']
df

     SYMBOL                        NAME  MARKETCAP EXCHANGE
0         A  Agilent Technologies, Inc.    12852.3     NYSE
1        AA                  Alcoa Inc.    28234.5     NYSE
2      AA-P                  Alcoa Inc.       43.6     AMEX
3       AAC        Ableauctions.Com Inc        4.3     AMEX
4       AAI      AirTran Holdings, Inc.      156.9     NYSE
...     ...                         ...        ...      ...
4935    ZZF            SM Listed Test 2        NaN     NYSE
4936    ZZG            SM Listed Test 2        NaN     NYSE
4937    ZZH            SM Listed Test 2        NaN     NYSE
4938    ZZI            SM Listed Test 2        NaN     NYSE
4939    ZZJ            SM Listed Test 2        NaN     NYSE

[4940 rows x 4 columns]

**pickle dataset**

In [3]:
df.to_pickle('pickled')