In [25]:
import pandas as pd
import numpy as np

* Helper functions

In [26]:
def returns(dataframe, _column):
    _returns = []
    _column_list = list(_column)
    i = 0
    while (i < len(_column)):
        if (i == 11):
            break
        end = _column_list[i]
        start = _column_list[i+1]
        _returns.append((end/start)-1)
        i += 1
    _returns.append(0)
    dataframe = dataframe.assign(returns = _returns)
    return dataframe

* Import data & create dataframe with estimated returns

In [27]:
ibm = pd.read_csv(r'C:\Users\rhys.murage\Documents\finance\data\q2\IBM.csv',)
sp = pd.read_excel(r'C:\Users\rhys.murage\Documents\finance\data\q2\s_p_500.xlsx')
ibm.Date = pd.to_datetime(ibm.Date)
ibm = ibm.sort_values(by=['Date'], ascending=False).reset_index().drop(columns=['index'])
_ibm = ibm.iloc[1:,:].reset_index().drop(columns=['index'])
_sp = sp.iloc[1:,:].reset_index().drop(columns=['index'])

_ibm = returns(_ibm, _ibm.Close)
_sp = returns(_sp, _sp.Close)

* Rename `returns` columns for ibm and sp and merge on dates

In [28]:
_ibm = _ibm.rename(columns={
    'returns':'ibm_returns'
})
_sp = _sp.rename(columns={
    'returns':'sp_returns'
})

returns_df = _ibm[['Date','ibm_returns']].merge(
    _sp[['Date','sp_returns']],
    how='left',
    left_on=['Date'],
    right_on=['Date']
).reset_index()

returns_df

    index       Date  ibm_returns  sp_returns
0       0 2022-05-01     0.041298   -0.002079
1       1 2022-04-01     0.016844   -0.087957
2       2 2022-03-01     0.061301    0.035773
3       3 2022-02-01    -0.082803   -0.031361
4       4 2022-01-01    -0.000673   -0.052585
5       5 2021-12-01     0.141418    0.043613
6       6 2021-11-01    -0.020891   -0.008334
7       7 2021-10-01    -0.099547    0.069144
8       8 2021-09-01    -0.010047   -0.047569
9       9 2021-08-01    -0.004398    0.028990
10     10 2021-07-01    -0.038406    0.022748
11     11 2021-06-01     0.000000    0.000000